html {
    height: 100%;
    width: 100%;
    background: url("https://dxmibby.github.io/dxmibby.portfolio/images/bg.png") center center fixed;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

.cafe-photos {
    display: block;
}

.reviews {
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    padding: 2%;
    align-items: center;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.story {
    width: 100%;
    display: inline-flex;
    background-color: #8f5316ac;
    padding: 30px;
    margin: 0px 0px 30px 0px;
}

.story_img {
    width: 300px;
    border-radius: 30px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px rgb(40, 40, 40);
    animation-duration: 0.3s;
}

.story_img:hover {
    translate: 0px -10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.story_text {
    width: 30%;
    height: 70%;
    padding: 10px;
    margin: 20px;
    display: block;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: #a3661c;
    border-radius: 10px;
    transition: 0.3s ease;
}

.divider {
    width: 50px;
    border: 1.5px solid white;
    /* justify-items: left; */
}

.story_text:hover {
    translate: 0px -10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.mission {
    width: 100%;
    display: inline-flex;
    background-color: #943a0aac;
    padding: 30px;
    margin: 0px;
}

.mission_img {
    width: 300px;
    border-radius: 30px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px rgb(40, 40, 40);
    animation-duration: 0.3s;
}

.mission_img:hover {
    translate: 0px -10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.mission_text {
    width: 30%;
    height: 70%;
    padding: 10px;
    margin: 20px;
    display: block;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: #a3661c;
    border-radius: 10px;
    transition: 0.3s ease;
}

.mission_text:hover {
    translate: 0px -10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.rev {
    width: 100%;
    background-color: #94210aac;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item1 {
    grid-row: 1/4;
    grid-column: 2/10;
    background-color: #ba7522;
    padding: 10px;
    border: 2px solid black;
    transition: 0.3s ease;
}

.item1:hover {
    translate: 0px -10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.item2 {
    grid-row: 5/13;
    grid-column: 2/5;
    background-color: #a3661c;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    transition: 0.3s ease;
}

.item2:hover {
    translate: 0px -10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.item3 {
    grid-row: 5/13;
    grid-column: 7/10;
    background-color: #804f13;
    padding: 20px;
    border: 2px solid black;
    transition: 0.3s ease;
}

.item3:hover {
    translate: 0px -10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .reviews {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    html {
        height: 100%;
    }
    .info {
        padding: 0%;
    }
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4b2f0d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /* opacity: 80%; */
}

.logo {
    margin: 0.67em;
    font-size: 27.3px;
    font-weight: bold;
    color: rgb(223, 223, 223);
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: rgb(162, 162, 162);
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #cbcbcb;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        /* font-size: 100px; */
    }
    .mobile-menu-btn {
        display: inline;
    }
}

/* @media only screen and (min-width: 768px) {
    .nav-links {
        display: flex;
    }
    .mobile-menu-btn {
        display: none;
    }
} */

.owner {
    display: block;
    font-size: 2rem;
    padding: 20px;
    margin: 30px;
}

.card {
    width: 50%;
    max-width: 400px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    background-color: #a3661c;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgb(40, 40, 40);
}

.red-top {
    position: absolute;
    background-color: rgba(165, 42, 42, 0.607);
    top: 0px;
    width: 100%;
    height:67px;
    /* margin-bottom: 0px; */

}

.yellow-top {
    position: absolute;
    background-color: rgba(165, 153, 42, 0.607);
    top: 0px;
    width: 100%;
    height:67px;
    /* margin-bottom: 0px; */

}

.image-container-background {
    width: 100%;
    background-color: rgba(165, 42, 42, 0.607);
    margin-bottom: 20px;
    margin-right: 0px;
}

.image-container {
    position: relative;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 20px;
    margin-bottom: 20px;
    img {
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgb(40, 40, 40);
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 20px;
    p {
        position: absolute;
        bottom: 7px;
        left: 10px;
        display: table;
        vertical-align: bottom;
        /* margin: 10px; */
        text-align: left;
    }
    a {
        color: white;
    }
}

.image-container:hover .overlay {
    opacity: 1;
}

.intro {
    background-color: rgba(165, 153, 42, 0.607);
    margin-bottom: 10px;
}

.object {
    width: 100%;
    background-color: #8f5316ac;
    margin: 0px opx 30px 0px;
    margin-bottom: 10px;
}

.education {
    width: 100%;
    background-color: #943a0aac;
    margin: 0px;
}

.skills {
    width: 100%;
    background-color: #94210aac;
    margin-top: 10px;
}

.projects {
    width: 100%;
    background-color: #940a1fac;
    margin-top: 10px;
}

.experience {
    width: 100%;
    background-color: #940a33ac;
    margin-top: 10px;
}

.extra {
    width: 100%;
    background-color: #940a5fac;
    margin-top: 10px;
}

footer {
    margin-top: auto;
    /* margin:0px; */
    /* position: absolute; */
    /* bottom: 0px; */
    width: 100%;
    background-color: #804f13;
}

button {
    background-color: #ba7522;
    border: none;
    box-shadow: none;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

button:hover {
    background-color: #bb813a;
}

.directory {
    background-color: #804f13;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #a68b6a;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);
    width: 300px;
}
</body></html>